.header {
  display: flex;
  align-items: flex-start;
}

.header p {
  margin-right: 20px;
  margin-top: 15px;
  color: #ffd9b6;
  font-size: 24px;
}

.headerBtn {
  font-size: 20px;
  padding: 20px;
  background-color: #122223;
  border: 1px solid #ffd9b6;
  color: #ffd9b6;
  transition: 0.25s;
  width: 200px;
}

.headerBtn:hover {
  box-shadow: inset 200px 0 0 0 #ffd9b6;
  color: #122223;
}
