h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.legendContainer {
  position: absolute;
  left: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.legendWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reserved {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  background-color: red;
}

.birthday {
  color: yellow;
  font-size: 20px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  @media (min-width: 768px) {
    .legendContainer {
      top: 10px;
      left: 330px;
    }
  }
}

/* .doubleReserve {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(58, 180, 105) 50%,
    rgb(29, 245, 253) 50%
  );
} */
