h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.legendContainer {
  position: absolute;
  left: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.legendWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reserved {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  background-color: red;
}

.birthday {
  color: yellow;
  font-size: 20px;
  margin-right: 10px;
}

.doubleReserve {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  background-color: blue;
}

@media (max-width: 1024px) {
  .legendContainer {
    top: 120px;
    left: 6px;
  }
}

@media (max-width: 845px) {
  .legendContainer {
    top: 120px;
    left: 6px;
  }
  .reserved {
    width: 10px;
    height: 7.5px;
    margin-right: 10px;
    background-color: red;
  }

  .birthday {
    color: yellow;
    font-size: 10px;
    margin-right: 10px;
  }

  .doubleReserve {
    width: 10px;
    height: 7.5px;
    margin-right: 10px;
    background-color: blue;
  }

  h3 {
    margin: 15px;
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .legendContainer {
    top: 30px;
    left: 330px;
  }

  .legendWrapper {
    margin-bottom: 10px;
  }
  .reserved {
    width: 10px;
    height: 7.5px;
    margin-right: 10px;
    background-color: red;
  }

  .birthday {
    color: yellow;
    font-size: 10px;
    margin-right: 10px;
  }

  .doubleReserve {
    width: 10px;
    height: 7.5px;
    margin-right: 10px;
    background-color: blue;
  }

  h3 {
    margin: 15px;
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 485px) {
  .legendContainer {
    top: -5px;
    left: 130px;
    z-index: -1;
  }
  .legendWrapper {
    margin-bottom: 10px;
  }

  .reserved {
    width: 10px;
    height: 7.5px;
    margin-right: 10px;
    background-color: red;
  }

  .birthday {
    color: yellow;
    font-size: 10px;
    margin-right: 10px;
  }

  .doubleReserve {
    color: blue;
    width: 10px;
    height: 7.5px;
  }

  h3 {
    margin: 15px;
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .legendWrapper {
    margin-bottom: 10px;
  }
  .legendContainer {
    top: -35px;
    left: 130px;
    z-index: -1;
  }
  .reserved {
    width: 10px;
    height: 7.5px;
    margin-right: 10px;
    background-color: red;
  }

  .birthday {
    color: yellow;
    font-size: 10px;
    margin-right: 10px;
  }

  h3 {
    margin: 15px;
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}

/* .doubleReserve {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(58, 180, 105) 50%,
    rgb(29, 245, 253) 50%
  );
} */
