.container {
  display: flex;
  justify-content: center;
}

.detailBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}

.tableNumber {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 40px;
}

@media (max-width: 768px) {
  .detailBlock {
    width: 540px;
  }

  .tableNumber {
    font-size: 24px;
    margin: 16px 0 0;
  }
}

@media (max-width: 425px) {
  .tableNumber {
    font-size: 22px;
  }
  .detailBlock {
    margin-top: 70px;
    width: 300px;
  }
}
