.svgContainer {
  height: 100vh;
  width: 100%;
}

.svgContent {
  height: 100%;
  width: 100%;
}

.cls3 {
  fill: none;
}

.cls1,
.cls2,
.cls3 {
  stroke: #fff;
}

.cls1,
.cls2 {
  stroke-width: 3px;
}

.cls2,
.cls5,
.cls6 {
  fill: #fff;
}

.cls3 {
  stroke-width: 2px;
}

.cls4 {
  fill: none;
}

.cls5,
.cls6 {
  font-size: 12px;
  font-weight: 700;
}

.table {
  fill: #fff;
}

.table:hover rect,
.table:hover ellipse {
  fill: #ffd9b6;
  cursor: pointer;
}

.table:hover text {
  fill: #122223;
  cursor: pointer;
}

.bar {
  pointer-events: none;
}

.datePicker {
  position: absolute;
  top: 30px;
  left: 45%;
}

.booked {
  fill: red;
}

.birthday {
  fill: yellow;
}
@media (max-width: 1024px) {
  .svgContainer {
    margin-top: 30px;
  }

  .svgContent {
    height: 230%;
  }
}

@media (max-width: 768px) {
  .svgContainer {
    margin-top: 30px;
  }

  .svgContent {
    height: 150%;
  }
}

@media (max-width: 510px) {
  .svgContent {
    height: 260%;
  }
}

@media (max-width: 485px) {
  .svgContent {
    height: 110%;
  }
}

@media (max-width: 320px) {
  .svgContent {
    height: 90%;
  }
  .svgContainer {
    height: 100vh;
  }
}
