aside {
  display: flex;
  flex-direction: column;
}

.sidebarBtn {
  font-size: 20px;
  padding: 20px;
  background-color: #122223;
  border: 1px solid #ffd9b6;
  color: #ffd9b6;
  transition: 0.25s;
  width: 200px;
}

.topButtons {
  display: flex;
  width: 400px;
}

.bottomButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebarBtn:hover,
.sidebarBtn:focus {
  box-shadow: inset 200px 0 0 0 #ffd9b6;
  color: #122223;
}

@media (max-width: 768px) {
  .sidebarBtn {
    font-size: 17px;
    width: 160px;
    padding: 15px;
  }
}
