.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(18, 35, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.closeBtn {
  font-size: 28px;
}

.locationSelect {
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  color: #000;
}

/* Restuarant */
.svgContainer {
  height: 780px;
  width: 890px;
}

.svgContent {
  height: 100%;
  width: 100%;
}

.cls3 {
  fill: none;
}

.cls1,
.cls2,
.cls3 {
  stroke: #fff;
}

.cls1,
.cls2 {
  stroke-width: 3px;
}

.cls2,
.cls5,
.cls6 {
  fill: #fff;
}

.cls3 {
  stroke-width: 2px;
}

.cls4 {
  fill: none;
}

.cls5,
.cls6 {
  font-size: 12px;
  font-weight: 700;
}

.table {
  fill: #fff;
}

.table:hover rect,
.table:hover ellipse {
  fill: #ffd9b6;
  cursor: pointer;
}

.table:hover text {
  fill: #122223;
  cursor: pointer;
}

.bar {
  pointer-events: none;
}
/* Restuarant */

/* Terrace */

.cls1Terrace,
.cls3Terrace {
  fill: #122223;
}
.cls1Terrace,
.cls2Terrace,
.cls3Terrace {
  stroke: #fff;
  stroke-miterlimit: 10;
}
.cls2Terrace {
  fill: #fff;
}
.cls2Terrace,
.cls3Terrace {
  stroke-width: 2px;
  color: #fff;
}
.cls4Terrace {
  font-size: 24px;
  font-weight: 700;
}

.tableTerrace {
  fill: #fff;
}

.tableTerrace:hover rect,
.tableTerrace:hover ellipse {
  fill: #ffd9b6;
  cursor: pointer;
}

.tableTerrace:hover text {
  fill: #122223;
  cursor: pointer;
}

/* Terrace */

.booked {
  fill: red;
}

.booked text,
.birthday text {
  fill: #fff;
}

.birthday {
  fill: yellow;
}

.doubleReserve {
  fill: blue;
}
