.svgContainer {
  margin-top: 40px;
  height: 100vh;
  width: 100%;
}

.svgContent {
  height: 70%;
  width: 100%;
}

.cls1Terrace,
.cls3Terrace {
  fill: #122223;
}
.cls1Terrace,
.cls2Terrace,
.cls3Terrace {
  stroke: #fff;
  stroke-miterlimit: 10;
}
.cls2Terrace {
  fill: #fff;
}
.cls2Terrace,
.cls3Terrace {
  stroke-width: 2px;
  color: #fff;
}
.cls4Terrace {
  font-size: 24px;
  font-weight: 700;
}

.tableTerrace {
  fill: #fff;
}

.tableTerrace:hover rect,
.tableTerrace:hover ellipse {
  fill: #ffd9b6;
  cursor: pointer;
}

.tableTerrace:hover text {
  fill: #122223;
  cursor: pointer;
}

.booked {
  fill: red;
}

.booked text,
.birthday text {
  fill: #fff;
}

.birthday {
  fill: yellow;
}

.doubleReserve {
  fill: blue;
}

.datePicker {
  position: absolute;
  top: 60px;
  left: 45%;
}

.date {
  height: 30px;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info p {
  font-size: 60px;
  color: #fff;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .info p {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .info p {
    max-width: 350px;
    font-size: 30px;
  }
  .logo {
    width: 75%;
  }
}
