h3 {
  color: #fff;
}

.legendContainer {
  position: absolute;
  left: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.legendWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reserved {
  width: 30px;
  height: 15px;
  margin-right: 10px;
  background-color: red;
}

.birthday {
  width: 30px;
  height: 15px;
  margin-right: 10px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 49%,
    rgba(253, 29, 29, 1) 49%
  );
}

.doubleReserve {
  width: 30px;
  height: 15px;
  margin-right: 10px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(58, 180, 105) 50%,
    rgb(29, 245, 253) 50%
  );
}
