@import url("https://fonts.cdnfonts.com/css/apercu-pro");

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  font-family: "Apercu Pro", sans-serif;
  font-weight: 400;
  background-color: #122223;
  color: #ffd9b6;
  padding: 20px;
  border-radius: 12px;
  width: 600px;
  height: 650px;
}

.tableNumber {
  font-size: 24px;
  text-align: center;
}

.modalForm {
  font-size: 18px;
  margin: 40px 0 30px;
  display: flex;
  justify-content: space-between;
}

.modalForm input {
  height: 45px;
}

.modalForm input,
.commentary input {
  background-color: transparent;
  border-bottom: 1px solid #ffd9b6;
  padding: 10px 0 10px 0;
}

.commentary {
  font-size: 18px;
}

.commentary input {
  width: 100%;
  height: 70px;
  margin-bottom: 40px;
}

.commentary label {
  display: block;
  text-align: center;
}

.leftBlock input,
.rightBlock input {
  display: block;
  margin-bottom: 30px;
}

/* Checkbox  styling */

.checkboxWrapper label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxWrapper input {
  visibility: hidden;
  display: none;
}

.checkboxWrapper input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 30px;
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkboxWrapper .checkbox {
  display: block;
  border: 3px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

/* Checkbox */

.formBtn {
  font-size: 20px;
  padding: 20px;
  background-color: #122223;
  border: 1px solid #ffd9b6;
  display: block;
  color: #ffd9b6;
  margin: 0 auto;
  transition: 0.25s;
}

.formBtn:hover,
.formBtn:focus {
  box-shadow: inset 190px 0 0 0 #ffd9b6;
  color: #122223;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 25px;
}
