.detailBlock {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.detailForm {
  font-size: 18px;
  padding: 40px 30px 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffd9b6;
  width: 600px;
  border-radius: 12px;
}

.buttonWrapper {
  display: flex;
}

.tableNumber {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 40px;
}

.detailBtn {
  font-size: 20px;
  padding: 20px;
  background-color: #122223;
  border: 1px solid #ffd9b6;
  color: #ffd9b6;
  transition: 0.25s;
}

.detailBtn:hover {
  box-shadow: inset 300px 0 0 0 #ffd9b6;
  color: #122223;
}
