.svgContainer {
  height: 100vh;
  width: 100%;
}

.svgContent {
  height: 100%;
  width: 100%;
}

.cls3 {
  fill: none;
}

.cls1,
.cls2,
.cls3 {
  stroke: #1d1d1b;
}

.cls1,
.cls2 {
  stroke-width: 3px;
}

.cls2,
.cls5,
.cls6 {
  fill: #1d1d1b;
}

.cls3 {
  stroke-width: 2px;
}

.cls4 {
  fill: #fff;
}

.cls5,
.cls6 {
  font-size: 12px;
  font-weight: 700;
}

.table {
  fill: #fff;
}

.table:hover rect,
.table:hover ellipse {
  fill: #122223;
  cursor: pointer;
}

.table:hover text {
  fill: #ffd9b6;
  cursor: pointer;
}

.bar {
  pointer-events: none;
}

.datePicker {
  position: absolute;
  top: 30px;
  left: 45%;
}
