@import url("https://fonts.cdnfonts.com/css/apercu-pro");

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  justify-content: center;
  font-family: "Apercu Pro", sans-serif;
  font-weight: 400;
  background-color: #122223;
  color: #ffd9b6;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  height: 300px;
}
